<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="br.com.rm.cfv">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:name=".CfvApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="br.com.rm.cfv.activities.contaPagarReceber.DetalheParcelaDebitoActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".activities.VisualizarImagemActivity"
                android:label="@string/imagem_expandida_title"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name="br.com.rm.cfv.activities.contaPagarReceber.VisualizarDebitoActivity"
                android:label="@string/title_activity_visualizar_debito"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".activities.produto.ListaProdutosActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".activities.estoque.ListaEstoqueActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".activities.cliente.ListaClientesActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.fornecedor.ListaFornecedorActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.fornecedor.CadastrarFornecedorActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.balancete.ListaBalanceteActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.balancete.ListaItensBalanceteActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.departamento.DepartamentoActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".activities.cliente.CadastrarClienteActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".activities.produto.CadastrarProdutoActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name="br.com.rm.cfv.activities.contaPagarReceber.RegistrarContaPagarReceberActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name="br.com.rm.cfv.activities.contaPagarReceber.ListaDebitosClienteActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="br.com.rm.cfv.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>