<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="br.com.rm.cfv">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name="br.com.rm.cfv.CfvApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="br.com.rm.cfv.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name="br.com.rm.cfv.activities.estoque.ListaEstoqueActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="br.com.rm.cfv.activities.cliente.ListaClientesActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="br.com.rm.cfv.activities.departamento.DepartamentoActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="br.com.rm.cfv.activities.cliente.CadastrarClienteActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="br.com.rm.cfv.activities.produto.CadastrarProdutoActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="br.com.rm.cfv.activities.produto.ListaProdutosActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>